@using VaultContracts.ViewModels

@model AccountViewModel

@{
	ViewData["Title"] = "Редактирование счета";
}


<div class="text-center">
	<h2 class="display-5">Редактирование счёта</h2>
</div>
<form method="post" class="my-3">
	<div class="row mb-1">
		<p class="col-6 text-end">Владелец</p>
		<div class="col-6">
			<input type="text" name="Owner" value="@Html.DisplayFor(modelItem => Model.Owner)" required/>
			</div>
	</div>
	<div class="row mb-1">
		<p class="col-6 text-end">Назначение</p>
		<div class="col-6">
			<input type="text" name="Purpose" value="@Html.DisplayFor(modelItem => Model.Purpose)" required />
		</div>
	</div>
	<div class="row justify-content-center">
		<button type="submit" class="col-2 btn btn-success">Редактировать</button>
	</div>
</form>
